In [ ]:
# Loading library
import os
os.sys.path.append("../")
from scripts.etl_pipeline import *

In [ ]:
# Create a Spark Session
spark = (
    SparkSession.builder.appName("ETL Pipeline")
    .config("spark.sql.repl.eagerEval.enabled", True)
    .config("spark.sql.parquet.cacheMetadata", "true")
    .config("spark.sql.session.timeZone", "Etc/UTC")
    .config("spark.driver.memory", "4g")
    .config("spark.executor.memory", "2g")
    .getOrCreate()
)

<<<<<<< local

24/09/10 14:36:02 WARN Utils: Your hostname, qinsitaodeMacBook-Air.local resolves to a loopback address: 127.0.0.1; using 10.13.18.159 instead (on interface en0)
24/09/10 14:36:02 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/09/10 14:36:06 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
24/09/10 14:36:09 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

=======

your 131072x1 screen size is bogus. expect trouble
24/09/11 11:33:38 WARN Utils: Your hostname, DESKTOP-H0CEB6G resolves to a loopback address: 127.0.1.1; using 172.29.253.151 instead (on interface eth0)
24/09/11 11:33:38 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/09/11 11:33:40 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
24/09/11 11:33:44 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

>>>>>>> remote

# Extract

As we can't use `urlretrieve` to get the data from Canvas, please download it to your local machine and move it `data/tables`. Then run the code below to unzip the files

In [ ]:
# Assign data path
raw_path = "../data"

# Unzip files (Only run once)
"""
for file in os.listdir(f"{raw_path}/tables"):
    if file == ".gitkeep":
        continue
    with zipfile.ZipFile(f"{raw_path}/tables/{file}", "r") as zip_ref:
        zip_ref.extractall(f"{raw_path}/")
    os.remove(f"{raw_path}/tables/{file}")
"""

'\nfor file in os.listdir(f"{raw_path}/tables"):\n    if file == ".gitkeep":\n        continue\n    with zipfile.ZipFile(f"{raw_path}/tables/{file}", "r") as zip_ref:\n        zip_ref.extractall(f"{raw_path}/")\n    os.remove(f"{raw_path}/tables/{file}")\n'

# Transform

The system use `user_id` as a key for identifying customer in transactions record and fraud probability tables. However, they also have a key-value map of `user_id` and `consumer_id`. We will use `consumer_id` as the only ID for customer. Thus, we will map `user_id` from each table to `consumer_id` and drop the former.

In [ ]:
# Load consumer user details -> a key:value map for user_id to consumer_id
consumer_user_map = spark.read.parquet(f"{raw_path}/tables/consumer_user_details.parquet")
consumer_user_map.limit(5) # Preview

<<<<<<< local

24/09/10 14:36:24 WARN GarbageCollectionMetrics: To enable non-built-in garbage collector(s) List(G1 Concurrent GC), users should configure it(them) to spark.eventLog.gcMetrics.youngGenerationGarbageCollectors or spark.eventLog.gcMetrics.oldGenerationGarbageCollectors

=======

>>>>>>> remote

<<<<<<< local <modified: ; unchanged: text/html, text/plain>

+-------+-----------+
|user_id|consumer_id|
+-------+-----------+
|      1|    1195503|
|      2|     179208|
|      3|    1194530|
|      4|     154128|
|      5|     712975|
+-------+-----------+

=======

+-------+-----------+
|user_id|consumer_id|
+-------+-----------+
|      1|    1195503|
|      2|     179208|
|      3|    1194530|
|      4|     154128|
|      5|     712975|
+-------+-----------+

>>>>>>> remote <modified: ; unchanged: text/html, text/plain>

In [ ]:
# Load consumer fraud rate dataset
consumer_fraud_rate = spark.read.csv(f"{raw_path}/tables/consumer_fraud_probability.csv", header=True, inferSchema=True)
consumer_fraud_rate.show(5)
get_dataset_count(consumer_fraud_rate)

# Replace all user_id with unique consumer_id
consumer_fraud_rate = replace_id(consumer_user_map, consumer_fraud_rate)
consumer_fraud_rate.show(5)

# Check to make sure no rows were lost on the inner join
get_dataset_count(consumer_fraud_rate)

+-------+--------------+-----------------+
|user_id|order_datetime|fraud_probability|
+-------+--------------+-----------------+
|   6228|    2021-12-19| 97.6298077657765|
|  21419|    2021-12-10|99.24738020302328|
|   5606|    2021-10-17|84.05825045251777|
|   3101|    2021-04-17|91.42192091901347|
|  22239|    2021-10-19|94.70342477508035|
+-------+--------------+-----------------+
only showing top 5 rows

The dataset count is  34864

+--------------+------------------+-----------+
|order_datetime| fraud_probability|consumer_id|
+--------------+------------------+-----------+
|    2022-02-20| 9.805431136520959|    1195503|
|    2021-08-30| 9.599513915425788|     179208|
|    2021-09-25|10.069850934775245|     179208|
|    2021-11-03| 8.300636455314633|    1194530|
|    2021-10-09| 9.633302411090419|     154128|
+--------------+------------------+-----------+
only showing top 5 rows

The dataset count is  34864

In [ ]:
# Load all the transaction data 
transaction_p1 = spark.read.parquet(f"{raw_path}/tables/transactions_20210228_20210827_snapshot")
transaction_p2 = spark.read.parquet(f"{raw_path}/tables/transactions_20210828_20220227_snapshot")
transaction_p3 = spark.read.parquet(f"{raw_path}/tables/transactions_20220228_20220828_snapshot")

# Combine the datasets
transaction_records = reduce(DataFrame.unionAll, [transaction_p1, transaction_p2, transaction_p3])
transaction_records.show(5)
get_dataset_count(transaction_records)

# Replace user_id with consumer_id after combining
transaction_records = replace_id(consumer_user_map, transaction_records)
transaction_records.show(5)

# Check to make sure no rows were lost on the inner join
get_dataset_count(transaction_records)

<<<<<<< local

The dataset count is  14195505

The dataset count is  14195505

=======

+-------+------------+------------------+--------------------+--------------+
|user_id|merchant_abn|      dollar_value|            order_id|order_datetime|
+-------+------------+------------------+--------------------+--------------+
|  18478| 62191208634|63.255848959735246|949a63c8-29f7-4ab...|    2021-08-20|
|      2| 15549624934| 130.3505283105634|6a84c3cf-612a-457...|    2021-08-20|
|  18479| 64403598239|120.15860593212783|b10dcc33-e53f-425...|    2021-08-20|
|      3| 60956456424| 136.6785200286976|0f09c5a5-784e-447...|    2021-08-20|
|  18479| 94493496784| 72.96316578355305|f6c78c1a-4600-4c5...|    2021-08-20|
+-------+------------+------------------+--------------------+--------------+
only showing top 5 rows

The dataset count is  14195505

+------------+------------------+--------------------+--------------+-----------+
|merchant_abn|      dollar_value|            order_id|order_datetime|consumer_id|
+------------+------------------+--------------------+--------------+-----------+
| 62191208634|63.255848959735246|949a63c8-29f7-4ab...|    2021-08-20|     651338|
| 15549624934| 130.3505283105634|6a84c3cf-612a-457...|    2021-08-20|     179208|
| 64403598239|120.15860593212783|b10dcc33-e53f-425...|    2021-08-20|     467663|
| 60956456424| 136.6785200286976|0f09c5a5-784e-447...|    2021-08-20|    1194530|
| 94493496784| 72.96316578355305|f6c78c1a-4600-4c5...|    2021-08-20|     467663|
+------------+------------------+--------------------+--------------+-----------+
only showing top 5 rows

The dataset count is  14195505

>>>>>>> remote

Now that replacing `user_id` to `consumer_id` is done, load all other data and clean them

In [8]:
# Load merchant fraud probability
# merchant_fraud_rate = spark.read.csv(f"{raw_path}/tables/merchant_fraud_probability.csv", header=True, inferSchema=True)

# date_pattern = r"^\d{4}-\d{2}-\d{2}$"

# test = merchant_fraud_rate.withColumn("is_valid_date", F.regexp_extract(F.col("order_datetime"), date_pattern, 0))
# invalid_dates = test.filter(F.col("is_valid_date") == "")
# invalid_dates

In [9]:
# Load consumer fraud rate dataset
merchant_fraud_rate = spark.read.csv(f"{raw_path}/tables/merchant_fraud_probability.csv", header=True, inferSchema=True)
merchant_fraud_rate.show(5)
get_dataset_count(merchant_fraud_rate)

# Display some info on the merchants
print(f'Total number of merchants: {transaction_records.select("merchant_abn").distinct().count()}')
print(f'Total number of merchants with fraudulent probability: {merchant_fraud_rate.select("merchant_abn").distinct().count()}')

+------------+--------------+------------------+
|merchant_abn|order_datetime| fraud_probability|
+------------+--------------+------------------+
| 19492220327|    2021-11-28|44.403658647495355|
| 31334588839|    2021-10-02| 42.75530083865367|
| 19492220327|    2021-12-22|38.867790051131095|
| 82999039227|    2021-12-19|  94.1347004808891|
| 90918180829|    2021-09-02| 43.32551731714902|
+------------+--------------+------------------+
only showing top 5 rows

The dataset count is  114

Total number of merchants: 4422
Total number of merchants with fraudulent probability: 61

In [10]:
# Group by merchant_abn and count the number of entries for each merchant
merchant_counts = merchant_fraud_rate.groupBy("merchant_abn").count()

# Show the result
merchant_counts.show()

+------------+-----+
|merchant_abn|count|
+------------+-----+
| 99989036621|    1|
| 90568944804|    3|
| 29674997261|    1|
| 27093785141|    3|
| 19492220327|    8|
| 76968105359|    1|
| 97884414539|    1|
| 82999039227|    1|
| 83199298021|    6|
| 93292821052|    1|
| 43083074133|    1|
| 15157368385|    1|
| 76767266140|    1|
| 96680767841|    1|
| 35909341340|    1|
| 72058040180|    1|
| 19010030815|    3|
| 39649557865|    1|
| 48534649627|    3|
| 85482742429|    1|
+------------+-----+
only showing top 20 rows

In [11]:
from pyspark.sql.functions import avg

average_fraud_probability = merchant_fraud_rate.groupBy("merchant_abn").agg(avg("fraud_probability").alias("average_fraud_probability"))

average_fraud_probability.show()

+------------+-------------------------+
|merchant_abn|average_fraud_probability|
+------------+-------------------------+
| 99989036621|        18.21089142894488|
| 90568944804|        30.72298492113958|
| 29674997261|        44.43787807900268|
| 27093785141|        28.88064813052203|
| 19492220327|       31.958306675667547|
| 76968105359|        68.27843632543912|
| 97884414539|        89.79919971536573|
| 82999039227|         94.1347004808891|
| 83199298021|        31.93490297074105|
| 93292821052|        66.58725735032715|
| 43083074133|        48.66890735193894|
| 15157368385|         64.2774131928303|
| 76767266140|       29.539733207182703|
| 96680767841|       29.555244690425017|
| 35909341340|        29.13305311007307|
| 72058040180|        33.71875978884334|
| 19010030815|       51.033927919712056|
| 39649557865|       28.690204286050616|
| 48534649627|        28.56793296472796|
| 85482742429|        70.88131110541714|
+------------+-------------------------+
only showing top 20 rows

Cleaning `tbl_merchants.parquet`. The feature `tags` is a string that represents either a tuple or a list, containing 3 elements:
* Items that are being sold
* Revenue levels
* Commission rate

Each elements either a list, a tuple, or a combination of both (e.g starts with `[` and ends with `)` and vice versa). These inconsistencies are mostly due to human errors. Thus, we need to take into account these consistent when splitting the values of the feature `tags` into separate columns

In [12]:
# Load merchant's info
merchant_info = spark.read.parquet(f"{raw_path}/tables/tbl_merchants.parquet")
merchant_info.show(5, truncate=False)

# Clean the data
merchant_info = clean_merchant_details(merchant_info)
merchant_info.show(5, truncate=False)

# Check if there are any remaining brackets
merchant_info.select("category").filter(
    (F.col("category").rlike(r"^[\(\[\{]")) | 
    (F.col("category").rlike(r"[\)\]\}]$"))
).show(truncate=False)

# merchant_info.groupBy(F.col("revenue_level")).agg(F.avg(F.col("take_rate"))) # average commission rate of each revenue level

+------------------------------------+-----------------------------------------------------------------------------------------------------------------+------------+
|name                                |tags                                                                                                             |merchant_abn|
+------------------------------------+-----------------------------------------------------------------------------------------------------------------+------------+
|Felis Limited                       |((furniture, home furnishings and equipment shops, and manufacturers, except appliances), (e), (take rate: 0.18))|10023283211 |
|Arcu Ac Orci Corporation            |([cable, satellite, and otHer pay television and radio services], [b], [take rate: 4.22])                        |10142254217 |
|Nunc Sed Company                    |([jewelry, watch, clock, and silverware shops], [b], [take rate: 4.40])                                          |10165489824 |
|Ultricies Dignissim Lacus Foundation|([wAtch, clock, and jewelry repair shops], [b], [take rate: 3.29])                                               |10187291046 |
|Enim Condimentum PC                 |([music shops - musical instruments, pianos, and sheet music], [a], [take rate: 6.33])                           |10192359162 |
+------------------------------------+-----------------------------------------------------------------------------------------------------------------+------------+
only showing top 5 rows

Before:
The dataset count is  4026
After:

The dataset count is  4026
+------------------------------------+------------+-------------------------------------------------------------------------------------+-------------+---------+
|name                                |merchant_abn|category                                                                             |revenue_level|take_rate|
+------------------------------------+------------+-------------------------------------------------------------------------------------+-------------+---------+
|Felis Limited                       |10023283211 |furniture, home furnishings and equipment shops, and manufacturers, except appliances|e            |0.18     |
|Arcu Ac Orci Corporation            |10142254217 |cable, satellite, and other pay television and radio services                        |b            |4.22     |
|Nunc Sed Company                    |10165489824 |jewelry, watch, clock, and silverware shops                                          |b            |4.4      |
|Ultricies Dignissim Lacus Foundation|10187291046 |watch, clock, and jewelry repair shops                                               |b            |3.29     |
|Enim Condimentum PC                 |10192359162 |music shops - musical instruments, pianos, and sheet music                           |a            |6.33     |
+------------------------------------+------------+-------------------------------------------------------------------------------------+-------------+---------+
only showing top 5 rows

+--------+
|category|
+--------+
+--------+

In [46]:
# Load merchant's info
merchant_info = spark.read.parquet(f"{raw_path}/tables/tbl_merchants.parquet")
merchant_info.show(5, truncate=False)

# Clean the data
merchant_info = clean_merchant_details(merchant_info)
merchant_info.show(5, truncate=False)

+------------------------------------+-----------------------------------------------------------------------------------------------------------------+------------+
|name                                |tags                                                                                                             |merchant_abn|
+------------------------------------+-----------------------------------------------------------------------------------------------------------------+------------+
|Felis Limited                       |((furniture, home furnishings and equipment shops, and manufacturers, except appliances), (e), (take rate: 0.18))|10023283211 |
|Arcu Ac Orci Corporation            |([cable, satellite, and otHer pay television and radio services], [b], [take rate: 4.22])                        |10142254217 |
|Nunc Sed Company                    |([jewelry, watch, clock, and silverware shops], [b], [take rate: 4.40])                                          |10165489824 |
|Ultricies Dignissim Lacus Foundation|([wAtch, clock, and jewelry repair shops], [b], [take rate: 3.29])                                               |10187291046 |
|Enim Condimentum PC                 |([music shops - musical instruments, pianos, and sheet music], [a], [take rate: 6.33])                           |10192359162 |
+------------------------------------+-----------------------------------------------------------------------------------------------------------------+------------+
only showing top 5 rows

Before:
The dataset count is  4026
After:
The dataset count is  4026
+------------------------------------+------------+-------------------------------------------------------------------------------------+-------------+---------+
|name                                |merchant_abn|category                                                                             |revenue_level|take_rate|
+------------------------------------+------------+-------------------------------------------------------------------------------------+-------------+---------+
|Felis Limited                       |10023283211 |furniture, home furnishings and equipment shops, and manufacturers, except appliances|e            |0.18     |
|Arcu Ac Orci Corporation            |10142254217 |cable, satellite, and other pay television and radio services                        |b            |4.22     |
|Nunc Sed Company                    |10165489824 |jewelry, watch, clock, and silverware shops                                          |b            |4.4      |
|Ultricies Dignissim Lacus Foundation|10187291046 |watch, clock, and jewelry repair shops                                               |b            |3.29     |
|Enim Condimentum PC                 |10192359162 |music shops - musical instruments, pianos, and sheet music                           |a            |6.33     |
+------------------------------------+------------+-------------------------------------------------------------------------------------+-------------+---------+
only showing top 5 rows

In [ ]:
# Load consumer info's
consumer_info = spark.read.csv(f"{raw_path}/tables/tbl_consumer.csv", header=True, inferSchema=True)
consumer_info.show(5, truncate=False)

# Clean the data
consumer_info = clean_consumer_details(consumer_info)
consumer_info.show(5, truncate=False)

# consumer_info.groupBy("gender").count() # relatively same proportion of female and male customer, only a small percentage of did not provide their gender

+---------------------------------------------------------------------+
|name|address|state|postcode|gender|consumer_id                       |
+---------------------------------------------------------------------+
|Yolanda Williams|413 Haney Gardens Apt. 742|WA|6935|Female|1195503   |
|Mary Smith|3764 Amber Oval|NSW|2782|Female|179208                    |
|Jill Jones MD|40693 Henry Greens|NT|862|Female|1194530               |
|Lindsay Jimenez|00653 Davenport Crossroad|NSW|2780|Female|154128     |
|Rebecca Blanchard|9271 Michael Manors Suite 651|WA|6355|Female|712975|
+---------------------------------------------------------------------+
only showing top 5 rows

Before:
The dataset count is  499999
After:
The dataset count is  499999
+-----------------+-----------+------+-----+--------+
|name             |consumer_id|gender|state|postcode|
+-----------------+-----------+------+-----+--------+
|Yolanda Williams |1195503    |Female|WA   |6935    |
|Mary Smith       |179208     |Female|NSW  |2782    |
|Jill Jones MD    |1194530    |Female|NT   |862     |
|Lindsay Jimenez  |154128     |Female|NSW  |2780    |
|Rebecca Blanchard|712975     |Female|WA   |6355    |
+-----------------+-----------+------+-----+--------+
only showing top 5 rows

In [48]:
transaction_records = ensure_datetime_range(transaction_records, "2021-02-28", "2022-08-28")

Starting entries: 14195505
Final entries: 12561377
Net change (%): 11.51

In [ ]:
# Check for Missing values

calculate_missing_values(consumer_fraud_rate)
calculate_missing_values(merchant_fraud_rate)
calculate_missing_values(consumer_info)
calculate_missing_values(merchant_info)
calculate_missing_values(transaction_records)

+----------------------------+-------------------------------+-------------------------+
|order_datetime_missing_count|fraud_probability_missing_count|consumer_id_missing_count|
+----------------------------+-------------------------------+-------------------------+
|                           0|                              0|                        0|
+----------------------------+-------------------------------+-------------------------+

+--------------------------+----------------------------+-------------------------------+
|merchant_abn_missing_count|order_datetime_missing_count|fraud_probability_missing_count|
+--------------------------+----------------------------+-------------------------------+
|                         0|                           0|                              0|
+--------------------------+----------------------------+-------------------------------+

+------------------+-------------------------+--------------------+-------------------+----------------------+
|name_missing_count|consumer_id_missing_count|gender_missing_count|state_missing_count|postcode_missing_count|
+------------------+-------------------------+--------------------+-------------------+----------------------+
|                 0|                        0|                   0|                  0|                     0|
+------------------+-------------------------+--------------------+-------------------+----------------------+

+------------------+--------------------------+----------------------+---------------------------+-----------------------+
|name_missing_count|merchant_abn_missing_count|category_missing_count|revenue_level_missing_count|take_rate_missing_count|
+------------------+--------------------------+----------------------+---------------------------+-----------------------+
|                 0|                         0|                     0|                          0|                      0|
+------------------+--------------------------+----------------------+---------------------------+-----------------------+

<<<<<<< local <modified: >

=======

>>>>>>> remote <modified: >

+--------------------------+--------------------------+----------------------+----------------------------+-------------------------+
|merchant_abn_missing_count|dollar_value_missing_count|order_id_missing_count|order_datetime_missing_count|consumer_id_missing_count|
+--------------------------+--------------------------+----------------------+----------------------------+-------------------------+
|                         0|                         0|                     0|                           0|                        0|
+--------------------------+--------------------------+----------------------+----------------------------+-------------------------+

In [15]:
# Summary Statistics

consumer_fraud_rate.describe().show()
merchant_fraud_rate.describe().show()
consumer_info.describe().show()
merchant_info.describe().show()
transaction_records.describe().show()

+-------+-----------------+-----------------+
|summary|fraud_probability|      consumer_id|
+-------+-----------------+-----------------+
|  count|            34864|            34864|
|   mean|15.12009064415455|751897.9451870124|
| stddev| 9.94608484957805|435809.7294939078|
|    min|8.287143531552802|               30|
|    max|99.24738020302328|          1499861|
+-------+-----------------+-----------------+

+-------+--------------------+------------------+
|summary|        merchant_abn| fraud_probability|
+-------+--------------------+------------------+
|  count|                 114|               114|
|   mean|5.440738266214912...|40.419334695018094|
| stddev|3.172677270243126E10|17.187744795432526|
|    min|         11149063370| 18.21089142894488|
|    max|         99989036621|  94.1347004808891|
+-------+--------------------+------------------+

24/09/11 11:35:57 WARN SparkStringUtils: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.

+-------+-------------+-----------------+-----------+------+------------------+
|summary|         name|      consumer_id|     gender| state|          postcode|
+-------+-------------+-----------------+-----------+------+------------------+
|  count|       499999|           499999|     499999|499999|            499999|
|   mean|         NULL|750895.2123184246|       NULL|  NULL|4037.0854181708364|
| stddev|         NULL|433100.4260141143|       NULL|  NULL|1791.0766391396735|
|    min|Aaron Acevedo|                4|     Female|   ACT|               200|
|    max|   Zoe Wright|          1499995|Undisclosed|    WA|              9999|
+-------+-------------+-----------------+-----------+------+------------------+

+-------+--------------------+--------------------+--------------------+-------------+------------------+
|summary|                name|        merchant_abn|            category|revenue_level|         take_rate|
+-------+--------------------+--------------------+--------------------+-------------+------------------+
|  count|                4026|                4026|                4026|         4026|              4026|
|   mean|                NULL|5.446186755874988E10|                NULL|         NULL| 4.397575757575758|
| stddev|                NULL|2.598938766039736E10|                NULL|         NULL|1.7825953679430884|
|    min|       A Aliquet Ltd|         10023283211|antique shops -  ...|            a|               0.1|
|    max|Vulputate Velit Inc.|         99990536339|watch, clock, and...|            e|               7.0|
+-------+--------------------+--------------------+--------------------+-------------+------------------+

+-------+--------------------+--------------------+--------------------+-----------------+
|summary|        merchant_abn|        dollar_value|            order_id|      consumer_id|
+-------+--------------------+--------------------+--------------------+-----------------+
|  count|            14195505|            14195505|            14195505|         14195505|
|   mean|5.542435612114305E10|  166.22895390891708|                NULL|753392.9631019115|
| stddev|2.532810330437654...|    517.850560261278|                NULL|435520.7123553205|
|    min|         10023283211|9.756658099412162E-8|000000d4-d252-4e2...|               30|
|    max|         99990536339|  105193.88578925544|fffffca5-42ab-49d...|          1499867|
+-------+--------------------+--------------------+--------------------+-----------------+

In [54]:
# Summary Statistics - This block should be move to preliminary analysis notebook
print(f"Summary statistic for consumer's fraud probability")
consumer_fraud_rate.select(F.col("fraud_probability")).describe().show()

print(f"Summary statistics for merchant's fraud probability")
merchant_fraud_rate.select(F.col("fraud_probability")).describe().show()

print(f"Summary statistics for dollar value of transaction records")
transaction_records.select(F.col("dollar_value")).describe().show()

Summary statistic for consumer's fraud probability
+-------+-----------------+
|summary|fraud_probability|
+-------+-----------------+
|  count|            34864|
|   mean|15.12009064415455|
| stddev| 9.94608484957805|
|    min|8.287143531552802|
|    max|99.24738020302328|
+-------+-----------------+

Summary statistics for merchant's fraud probability
+-------+------------------+
|summary| fraud_probability|
+-------+------------------+
|  count|               114|
|   mean|40.419334695018094|
| stddev|17.187744795432526|
|    min| 18.21089142894488|
|    max|  94.1347004808891|
+-------+------------------+

Summary statistics for dollar value of transaction records
+-------+--------------------+
|summary|        dollar_value|
+-------+--------------------+
|  count|            12561377|
|   mean|  166.33982036554573|
| stddev|    520.362425451569|
|    min|9.756658099412162E-8|
|    max|  105193.88578925544|
+-------+--------------------+

In this section, we begin exploratory data analysis to gain a better understanding of the data and our variables

In [16]:
from pyspark.sql import functions as F

# Revenue analysis
# Explore for each ABN, their total revenue, average order value and total number of orders
merchant_performance = transaction_records.groupBy("merchant_abn").agg(
    F.sum("dollar_value").alias("total_revenue"),
    F.avg("dollar_value").alias("average_order_value"),
    F.count("dollar_value").alias("total_orders")
)
# Rank merchants by total revenue in descending order
merchant_performance = merchant_performance.orderBy(F.col("total_revenue").desc())
merchant_performance.show(10)

+------------+-----------------+-------------------+------------+
|merchant_abn|    total_revenue|average_order_value|total_orders|
+------------+-----------------+-------------------+------------+
| 39649557865|8712769.051186668|  449.1581117221707|       19398|
| 27093785141|8695204.207713189| 377.16683472339673|       23054|
| 96680767841|8679874.166938104| 315.16191013173466|       27541|
| 79827781481|8657277.096810076| 2036.5271928511117|        4251|
| 31334588839|8635672.313515192|  6368.489906722118|        1356|
| 32709545238|8600526.478637582|  751.2689097342402|       11448|
| 82368304209|8559519.374213614| 1865.6319473002645|        4588|
| 50315283629|8513551.597928654| 322.37311514743664|       26409|
| 90568944804|8510417.447779246|  898.9561051842448|        9467|
| 38700038932|8482176.655705513| 1337.6717640286254|        6341|
+------------+-----------------+-------------------+------------+
only showing top 10 rows

In [ ]:
# Risk Analysis
# Combine revenue analysis with fraud probabilities
merchant_performance_risk = merchant_performance.join(average_fraud_probability, on="merchant_abn", how="left")

# Rank merchants by fraud probability in descending order
merchant_performance_risk = merchant_performance_risk.orderBy(F.col("average_fraud_probability").desc())
merchant_performance_risk.show(10)

<<<<<<< local <removed>

=======

>>>>>>> remote <modified: >

In [ ]:
# Profitability analysis
# Combine previous merchant_performance_risk with merchants_info to get take_rate and revenue_level
merchant_profitability = merchant_performance_risk.join(merchant_info, on="merchant_abn", how="inner")

# Calculate net revenue
merchant_profitability = merchant_profitability.withColumn(
    "net_revenue", F.col("total_revenue") * F.col("take_rate")/100
)

# Rank merchants by profitability in descending order
merchant_profitability.orderBy(F.col("net_revenue").desc()).show(10)


# Rank merchants by profitability in ascending order
merchant_profitability.orderBy(F.col("net_revenue").asc()).show(10)

+------------+-----------------+-------------------+------------+-------------------------+--------------------+--------------------+-------------+---------+-----------------+
|merchant_abn|    total_revenue|average_order_value|total_orders|average_fraud_probability|                name|            category|revenue_level|take_rate|      net_revenue|
+------------+-----------------+-------------------+------------+-------------------------+--------------------+--------------------+-------------+---------+-----------------+
| 79827781481|9734168.478418225| 2028.7970984614892|        4798|          29.735159306496|     Amet Risus Inc.|furniture, home f...|            a|     6.82| 663870.290228123|
| 48534649627|9408958.320743632| 141.62226350894278|       66437|        28.56793296472796|Dignissim Maecena...|opticians, optica...|            a|     6.64|624754.8324973771|
| 32361057556|9434452.552354382| 109.98429182040549|       85780|                     NULL|Orci In Consequat...|gift, card, novel...|            a|     6.61|623617.3137106247|
| 86578477987| 9539822.77287039| 34.986184135159164|      272674|                     NULL|   Leo In Consulting|watch, clock, and...|            a|     6.43| 613410.604295566|
| 38700038932|9546185.360697314|  1338.500471213869|        7132|                     NULL|Etiam Bibendum In...|tent and awning s...|            a|     6.31|602364.2962600004|
| 45629217853|8395062.462198064|  36.77931463581549|      228255|                     NULL|    Lacus Consulting|gift, card, novel...|            a|     6.98|585975.3598614249|
| 96680767841|9806731.153473798| 314.98461981993313|       31134|       29.555244690425017|      Ornare Limited|motor vehicle sup...|            a|     5.91|579577.8111703015|
| 21439773999|9426656.544148417|  78.14909590254358|      120624|       28.504479048104585|Mauris Non Institute|cable, satellite,...|            a|      6.1|575026.0491930534|
| 63123845164|8630515.159852486|  754.0201956886673|       11446|                     NULL|Odio Phasellus In...|artist supply and...|            a|     6.59|568750.9490342789|
| 64403598239|8873434.486727161|  78.15180848087617|      113541|                     NULL|Lobortis Ultrices...|music shops - mus...|            a|     6.31|559913.7161124838|
+------------+-----------------+-------------------+------------+-------------------------+--------------------+--------------------+-------------+---------+-----------------+
only showing top 10 rows

+------------+------------------+-------------------+------------+-------------------------+--------------------+--------------------+-------------+---------+------------------+
|merchant_abn|     total_revenue|average_order_value|total_orders|average_fraud_probability|                name|            category|revenue_level|take_rate|       net_revenue|
+------------+------------------+-------------------+------------+-------------------------+--------------------+--------------------+-------------+---------+------------------+
| 55622580330|12313.488406755763|  373.1360123259322|          33|                     NULL|           Lacus LLP|books, periodical...|            e|      0.1|12.313488406755765|
| 25019506172|24871.859282615744|  690.8849800726596|          36|                     NULL|      Proin Vel Inc.|stationery, offic...|            e|     0.16| 39.79497485218519|
| 57079678065| 22761.92356039752|  33.87191006011536|         672|                     NULL|Hendrerit Donec L...|digital goods: bo...|            e|     0.18| 40.97146240871553|
| 64196096120|18475.766163929682| 105.57580665102675|         175|                     NULL| Turpis Incorporated|gift, card, novel...|            e|     0.23| 42.49426217703827|
| 46391946761| 15448.98584678279|  858.2769914879328|          18|                     NULL|Libero Nec Ligula...|stationery, offic...|            e|     0.37| 57.16124763309633|
| 78080443264|22415.636674823174| 20.396393698656208|        1099|         69.0953172336121|Nullam Enim Sed I...|tent and awning s...|            e|     0.27|60.522219022022576|
| 19995295153|27729.024877027412|  52.81719024195697|         525|                     NULL|Risus Nulla Insti...|bicycle shops - s...|            e|     0.22| 61.00385472946031|
| 59358011432|25703.322178490565|    83.997784897028|         306|                     NULL|Lacinia Orci Asso...|digital goods: bo...|            e|     0.24| 61.68797322837736|
| 79008028287| 20840.12245682246| 26.379901844079065|         790|                     NULL|Feugiat Nec Diam LLC|computers, comput...|            e|      0.3| 62.52036737046738|
| 83004629651|11579.230422805998|  94.14008473826014|         123|                     NULL| Auctor Odio Company|cable, satellite,...|            d|     0.54|  62.5278442831524|
+------------+------------------+-------------------+------------+-------------------------+--------------------+--------------------+-------------+---------+------------------+
only showing top 10 rows

In [28]:

# Use an f-string to construct the full path, adding 'curated' separately
output_path = f"{raw_path}/curated/merchant_profitability.parquet"

# Save the merchant_profitability DataFrame in Parquet format
merchant_profitability.write.mode("overwrite").parquet(output_path)

Make analysis on what's the average take rate for each revenue level -> how much money is the BNPL firm make from each revenue level (for example using the total revenue * average take rate)

In [ ]:
merchant_info.groupBy(F.col("revenue_level")).agg(F.avg(F.col("take_rate"))) # average commission rate of each revenue level

+-------------+------------------+
|revenue_level|    avg(take_rate)|
+-------------+------------------+
|            e|0.3147169811320755|
|            d|0.9912244897959185|
|            c|2.2512039045553167|
|            b| 4.094056254626199|
|            a| 6.232297128589269|
+-------------+------------------+

In [ ]:
net_revenue_level = merchant_profitability.groupBy('revenue_level').sum('net_revenue') #sum up the net_revenue of BNPL firm for each level
net_revenue_level
#Data shows that make the most net_revenue from small

NameError: name 'merchant_profitability' is not defined

In [ ]:
# Count the occurrences of each revenue level
merchant_profitability.groupBy('revenue_level').count()

NameError: name 'merchant_profitability' is not defined

In [ ]:
# Count the number of merchants with a fraud probability
fraudulent_merchants_count = merchant_profitability.filter(col("average_fraud_probability").isNotNull()).select("merchant_abn").distinct().count()

fraudulent_merchants_count

48

In [ ]:
# # Compute the average fraud probability for each revenue level
average_fraud_by_revenue_level = merchant_profitability.groupBy(F.col("revenue_level")).agg(F.avg(F.col("average_fraud_probability")).alias("avg_fraud_probability"))

# Show the results
average_fraud_by_revenue_level.show()

+-------------+---------------------+
|revenue_level|avg_fraud_probability|
+-------------+---------------------+
|            e|     69.0953172336121|
|            d|    63.37734364737917|
|            c|   47.598333195887776|
|            b|    43.88868549450772|
|            a|     44.5865773709124|
+-------------+---------------------+

In [ ]:
# Compute the total number of orders for each revenue level
total_orders_by_revenue_level = merchant_profitability.groupBy(F.col("revenue_level")) \
    .agg(F.sum(F.col("total_orders")).alias("total_orders"))

# Show the results
total_orders_by_revenue_level.show()

joined_df = net_revenue_level.join(
    total_orders_by_revenue_level,
    on="revenue_level",
    how="inner"
)
joined_df = joined_df.withColumn("total_orders", F.col("total_orders").cast(DoubleType()))

# Compute the average order value
average_order_value = joined_df.withColumn(
    "avg_order_value",
    F.col("sum(net_revenue)")/ F.col("total_orders")
)

average_order_value

+-------------+------------+
|revenue_level|total_orders|
+-------------+------------+
|            e|      120108|
|            d|      136838|
|            c|     3324800|
|            b|     3921368|
|            a|     6111561|
+-------------+------------+

+-------------+--------------------+------------+------------------+
|revenue_level|    sum(net_revenue)|total_orders|   avg_order_value|
+-------------+--------------------+------------+------------------+
|            e|   70477.14753451252|    120108.0|0.5867814594740777|
|            d|   371231.6335187635|    136838.0|2.7129279404753324|
|            c|1.0148181653801005E7|   3324800.0| 3.052268302995971|
|            b| 3.167370164609193E7|   3921368.0| 8.077207149671219|
|            a| 5.409203241463862E7|   6111561.0| 8.850771908296199|
+-------------+--------------------+------------+------------------+